# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea
# readme that comes with create-react-app
CRA-readme.md

/assets/wat.jpg
/src/client/components/resume/data/*.js
config.js
!*.example.js
/assets/*.jpg
/assets/*.pdf