# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env
npm-debug.log*
yarn-debug.log*

/.idea
CRA-readme.md
/src/client/components/resume/data/*.js
config.js
secret.js
!*.example.js
.serverless/
assets/
src/server/
