html, body, #root {
    height: 100%;
}

body {
    font-family: sans-serif;
}

.navItem > a {
    text-decoration: none;
}

.navItem > a, .navItem > a:visited {
    color: #606060;
}

.navItem > a:hover {
    text-decoration: underline;
    color: black;
}

.navItem:not(:last-child) {
    margin-bottom: 5px;
}
